{
    # Use ZeroSSL as a fallback because of Let's Encrypt rate limits
    email olivieri.dominic@proton.me
}

olivierdportfolio.me {
    # Route API requests to the backend container
    handle /api/* {
        reverse_proxy backend:8080
    }

    # Route everything else to the frontend container
    reverse_proxy frontend:80
}
